@use '../var/var' as *;
@use '../var/anim' as *;

.aboutus-content{
    border:2px solid green;
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutus-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 520px;
    height:80vh;
    border:2px solid green;
    justify-items: center;
    padding-left:150px;
}

#aboutus-img {
    height:550px;
    background-image: url(../../assets/s_aboutus/aboutus.png);
    width:560px;
    box-shadow: inset -100px -120px 40px 0cap $defBg;
    border-radius: 50px;
    animation: zoomin 3s ease forwards;
}

#codes {
    text-transform: uppercase;
    font-size: 18px;
}

.a-content-1 {
    display: flex;
    flex-direction: column; // elementy jeden pod drugim
    gap:50px;

    h1 {
        font-size: 40px;
    }

    p {
        font-family:monospace;
        font-size: 20px;
    }

    ul {
        display:flex;
        flex-direction: column;
        gap:25px;
    }

    li {
        font-family:monospace;
        font-size: 20px;
    }

    .btn {
        &:active {
            transition:0.05s ease;
            transform: scale(0.98);
        }

    }
}


.a-content-2 {
    display: flex;
    flex-direction: column; // elementy jeden pod drugim
    justify-content: center; // centruje w pionie (o ile rodzic ma wysokość!)
    align-items: center;    // centruje w poziomie


}

.link-a {
    transition:all 0.3s ease;

    &:hover {
        color:mediumslateblue;
        text-decoration: underline;
    }
}
