@use 'var/var' as *;

.nav-mode {
    display:flex;
    border-radius: $defRadius;
    border: 2px black solid;
    width: 95dvw;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(50px);
}

.nav-content {
    display:flex;
    padding-left:10px;
    width:100%;
}
